.brands
    color: #444
    margin-bottom: 4rem
.brands_top
    margin-bottom: 4rem

.brands_logo_wrap
    width: 300px
    height: 170px
    height: auto
    box-sizing: border-box
    display: flex
    background-color: #fff
    border: 1px solid $border-color
    border-radius: 5px
    float: left
    margin-right: 1rem
    margin-bottom: 1rem

.brands_logo
    max-width: 180px
    height: auto
    margin: auto

.brand_ul
    list-style: none
    padding-left: 1px
    padding-top: 1px
    margin-bottom: 2rem
    display: flex
    flex-wrap: wrap
.brand_li
    display: block
    width: 20%
    height: 180px
    position: relative
    margin-left: -1px
    margin-top: -1px
.brand_a
    display: flex
    position: absolute
    inset: 0
    justify-content: center
    align-items: center
    border: 1px solid $border-color
    border-radius: 3px
    transition: border-color .15s ease-out, box-shadow .15s ease-out
    &:hover
        border-color: #fff
        box-shadow: 0 0 10px 0 rgba(0,0,0,.15)
.brand_logo
    max-width: 60%
    height: auto

@media (max-width: 1400px)
    .brand_logo
        max-width: 60%
    .brand_li
        height: 180px

@media (max-width: 1200px)
    .brand_li
        width: calc( 100% / 4 )

@media (max-width: 768px)
    .brands_logo_wrap 
        display: block
        width: auto
        height: auto
        border: none
        float: none  
        margin: 0 0 1.5rem 
    .brand_li
        width: calc( 100% / 2 )

@media (max-width: 420px)
    .brand_li
        width: 100%